body, html {
    width: 480px;
    text-align: center;
    vertical-align: middle;

}


@media screen and (min-width:768px)  {
    body {
      width: 960px ;
    }


    #b {
        width: 200px;
        height: 600px;
        float: left;
    }

    #right {
        float: right;
    }


    #cdContainer{
    }

    #c,  #d {
        float: right;
        display: inline-block;
        width: 378px;
        height: 200px;
        
    }


    
    #ef, #gh {
        width: 180px;
        clear: both;
        display: inline;
     
     }


    
   
    


}
