
.bor {
    border: 1px solid blue;
    box-sizing: border-box;
  }
 
header {
    height: 75px;
    background-color: gold;
}

main #b {
    height: 150px;

}


main #cdContainer #c {
    height: 125px;
}

main #cdContainer #d {
    height: 125px;
}


#efghContainer #ef #e {
    float: left;
    width: 240px;
    height: 250px;
}

#efghContainer #ef #f {
    float: right;
    width: 240px;
    height: 250px;
}

#efghContainer #gh #g {
    float: right;
    width: 240px;
    height: 250px;
}

#efghContainer #gh #h {
    float: right;
    width: 240px;
    height: 250px;
}


footer  {
    clear: both;
    height: 80px;
    background:rgb(39, 68, 83);
    
 }